---
layout: default
---
<h2>{{ page.title }}</h2>

<div class="post">
{{ content }}
<p class="meta">{{ page.date | date_to_string }} {{page.content | number_of_words}} words</p>

<div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Chapter: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 
        </div> 

        <div class="right"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="Next Chapter: 
{{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div>

</div>

